*{
  margin:0;
}
body{
  background-color: rgb(216, 216, 216);
}
.app_header{
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom:20px;
}
.app_stats{
  display:flex;
  justify-content: space-between;

}
.app{
  display: flex;
  justify-content: space-evenly;
  padding:20px;
}
@media(max-width:999){
  .app{
    flex-direction:column;
  }
}
.app_left{
  flex:0.9;
}
